@font-face {
  font-family: 'Bebas Neue';
  src: url('./Sources/BebasNeue-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', Arial, sans-serif;
  height: 100%;
  scroll-behavior: smooth;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory; 
  /*background-color: rgba(0, 0, 0, 0.7);*/
}


.page_cero {
  background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/dd4dfce3-1a39-4b1a-8e19-b7242da17e68/825ef47b-5868-4bc4-942a-7053fef06680/PE-es-20240527-popsignuptwoweeks-perspective_alpha_website_large.jpg');
}
.TR {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
}

.page_cero, .page_uno {
  min-height: 100vh;
}
.footer {
  min-height: 70vh;
}

.header, .banner, .footer {

  padding: 1rem;
  color: white;
}
